body{
    background-color: rgb(60, 60, 60);
}
ol li,a{
    color: white;
    font-size: 20px;
    margin: 8px;
}
h1, h2{
    font-family: 'Bangers', cursive;
    color: white;
    margin: 0px;
}
ol li a:visited{
    color: aquamarine;
}
ol li a:active{
    color: yellow;
}
ol li a:hover{
    color: gold;
    text-decoration: underline;
}
#color1{
    color: whitesmoke;
    font-size: 20px;
}
